In [2]:
import pandas as pd

# Load the scored candidates
df = pd.read_csv("../data/scored_candidates.csv")

# Show summary of the dataframe
df.info()

# Display first 5 rows
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   chembl_id          100 non-null    object
 1   overlap_score      100 non-null    int64
 2   num_drug_genes     100 non-null    int64
 3   num_overlap_genes  100 non-null    int64
 4   overlap_genes      0 non-null      float64
dtypes: float64(1), int64(3), object(1)
memory usage: 4.0+ KB

,chembl_id,overlap_score,num_drug_genes,num_overlap_genes,overlap_genes
0,CHEMBL112998,0,20,0,NaN
1,CHEMBL2,0,20,0,NaN
2,CHEMBL204146,0,20,0,NaN
3,CHEMBL216458,0,20,0,NaN
4,CHEMBL258254,0,20,0,NaN

In [1]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))
plt.barh(top_candidates["drug_name"], top_candidates["overlap_score"], color="skyblue")
plt.xlabel("Overlap Score")
plt.title("Top 10 Drug Repurposing Candidates by Overlap Score")
plt.gca().invert_yaxis()  # highest score on top
plt.tight_layout()
plt.show()

NameError: name 'top_candidates' is not defined

In [4]:
import pandas as pd

kegg_df = pd.read_csv("../data/kegg_gene_pathways.csv")
print("Columns in KEGG file:", kegg_df.columns)
print(kegg_df.head())

Columns in KEGG file: Index(['entrez_id', 'pathway_id'], dtype='object')
   entrez_id     pathway_id
0       5742  path:hsa00590
1       5742  path:hsa01100
2       5742  path:hsa04611
3       5742  path:hsa04726
4       5742  path:hsa04923